<div class="container">
  <h1>Kullanıcıyı Düzenle</h1>

  <% if flash[:alert].present? %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <%= form_tag(user_path(@user['id']), method: :patch, class: "form") do %>
    <div class="form-group">
      <%= label_tag :name, 'Adı' %>
      <%= text_field_tag 'name', @user['name'], class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= label_tag :email, 'Email' %>
      <%= email_field_tag 'email', @user['email'], class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= label_tag :username, 'Kullanıcı Adı' %>
      <%= text_field_tag 'username', @user['username'], class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= label_tag :phone, 'Telefon' %>
      <%= text_field_tag 'phone', @user['phone'], class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= label_tag :website, 'Web Sitesi' %>
      <%= text_field_tag 'website', @user['website'], class: 'form-control' %>
    </div>

    <%= submit_tag 'Güncelle', class: 'btn btn-primary' %>
  <% end %>
</div>
